main {
  width: 100%;
}

/****************
*** OVERRIDES ***
****************/

.page-container {
  main {
    @include mq($bp-medium) {
      margin-left: 125px;
    }
  }
  &--default {
    main {
      margin-left: 0;
    }
  }
}
