.button {
  font-size: $vr * 2;
  letter-spacing: 1px;
  padding: $vr * 1.5 $vr * 4;
  z-index: 1;
  box-shadow: none;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 $vr;
  font-weight: 400;
  outline: 0;
  border: 0;
  cursor: pointer;
  width: 100%;
  border-radius: $vr / 2;
  transition: all 0.3s ease-in-out;
  @include mq($bp-medium) {
    width: auto;
  }
  &--pulse {
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    @keyframes pulse {
      0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(19, 206, 149, 0.7);
      }

      70% {
        transform: scale(1);
        box-shadow: 0 0 0 $vr * 2 rgba(19, 206, 149, 0);
      }

      100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(19, 206, 149, 0);
      }
    }
    &:hover {
      animation: none;
    }
  }
  &--circle {
    border-radius: 50%;
    height: $vr * 8;
    width: $vr * 8;
    padding: 0;
    border: transparent;
    margin: 0 $vr;
    @include mq($bp-medium) {
      height: $vr * 6.5;
      width: $vr * 6.5;
    }
    svg {
      vertical-align: middle;
    }
  }
  &--red {
    background-color: $warning;
    color: white;
    &:hover {
      background-color: darken($color: $warning, $amount: 5%);
    }
  }
  &--hidden {
    visibility: hidden;
    height: 0;
    pointer-events: none;
    padding: 0;
    margin: 0;
    border-width: 0;
  }
  &--border {
    border: 2px solid $dark-grey;
    background-color: transparent;
    &:hover {
      background-color: $dark-grey;
      color: $white;
    }
  }
  &--green {
    background-color: $primary-green;
    color: $white;
    svg {
      fill: $white;
    }
    &:hover {
      background-color: darken($color: $primary-green, $amount: 5%);
    }
  }
  &--grey {
    background-color: $primary-grey;
    border: 2px solid $primary-grey;
    &:hover {
      background-color: darken($color: $primary-grey, $amount: 5%);
    }
  }
  &--anchor {
    background-color: transparent;
    padding: 0;
    margin: 0;
    letter-spacing: normal;
    text-transform: none;
  }
  &--google {
    background-color: transparent;
    border: 2px solid $secondary-grey;
    border-radius: 4px;
    color: $tertiary-grey;
    &:before {
      display: inline-block;
      vertical-align: middle;
      margin-right: $vr * 1.5;
      content: url(~@/assets/images/google__G__Logo.png);
      position: relative;
    }
    &:hover {
      color: $white;
      background-color: $dark-grey;
    }
  }
}

/****************
*** OVERRIDES ***
****************/

.signup-form,
.login-form,
.password-reset-form,
.new-password-form {
  .button {
    &--green {
      margin-top: $vr * 4;
    }
    margin-left: 0;
    width: 100%;
  }
}

.password-reset-form {
  .button {
    &--green {
      margin-top: $vr * 3;
    }
  }
}

.okr-form {
  &__button-group {
    button {
      margin: 0;
      &:first-of-type {
        margin-bottom: $vr * 1.5;
      }
      @include mq($bp-medium) {
        margin: 0 $vr;
        &:first-of-type {
          margin: 0 $vr 0 0;
        }
      }
    }
  }
}

.hero-standard {
  button {
    font-weight: 600;
    padding: $vr * 2.5 $vr * 4;
    margin: 0;
    @include mq($bp-medium) {
      min-width: 50%;
    }
  }
}
