.dropdown-menu {
  position: absolute;
  min-width: 160px;
  border-radius: $vr / 2;
  background-color: white;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  // overflow-y: auto;
  // overflow-x: hidden;
  right: 0;
  top: 0;
  transform: translateY(38%);
  max-height: 260px;
  visibility: hidden;
  pointer-events: none;
  &:after {
    right: 10px;
    position: absolute;
    top: -7px;
    display: inline-block;
    border-right: $vr solid transparent;
    border-bottom: $vr solid #fff;
    border-left: $vr solid transparent;
    content: "";
  }
  &.active {
    pointer-events: visible;
    visibility: visible;
    z-index: 1000;
  }
  ul {
    list-style: none;
  }
  &__options {
    padding-left: 0;
  }
  &__option {
    padding: $vr 0 $vr $vr * 3;
    display: flex;
    transition: fill 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      fill: $primary-green;
      a {
        color: $primary-green;
      }
    }
    &--no-icon {
      padding: $vr $vr * 2;
      pointer-events: none;
      cursor: none;
      &:hover {
        a {
          color: default;
          cursor: none;
          transition: none;
        }
      }
    }
    a {
      text-decoration: none;
      transition: color 0.2s ease-in-out;
      color: $primary-font-color;
      font-size: $vr * 2.25;
      font-weight: 500;
      font-family: $font-primary;
      margin-left: $vr / 2;
      pointer-events: none;
    }
  }

  .red {
    fill: $alert-error;
    a {
      color: $alert-error;
    }
    &:hover {
      background-color: $alert-error;
      fill: $primary-white;
      a {
        color: $primary-white;
      }
    }
  }
}

/****************
*** OVERRIDES ***
****************/

.nav-bar {
  .dropdown-menu {
    top: $vr;
    right: 0;
    &__options {
      margin-block-start: $vr * 2;
      margin-block-end: $vr * 2;
    }
    &__option {
      fill: $primary-font-color;
      a {
        margin-left: $vr;
      }
      &:hover {
        fill: $primary-green;
      }
    }
  }
}
