/******************************
*** PROJECT SPECIFIC COLORS ***
*******************************/

// Primary
$primary-white: #ffffff;
$primary-black: #000;
$primary-background: #eceff1;
$primary-blue: #02175e;
$primary-green: #13ce95;
$primary-grey: #f3f3f2;
$primary-font-color: #1d1b15;

// Secondary
$secondary-grey: #ebebeb;
$secondary-font-color: #69809e;

// UI
$alert-error: #d93025;
$alert-error-alt: #f87777;
$alert-success: $primary-green;

// Accents
$accent-grey: #b7b5bf;
$accent-blue: #5468ff;
$accent-yellow: #fece48;
$accent-orange: #ff8d64;

// Greys
$tertiary-grey: #5f6368;
$dark-grey: #5b5b5b;
$blue-grey: #f5faff;

// Alphas
$alpha-blue-15: rgba(177, 204, 250, 0.15);
$alpha-periwinkle-90: rgba(90, 94, 154, 0.9);
$alpha-black-15: rgba(0, 0, 0, 0.15);
$alpha-black-30: rgba(0, 0, 0, 0.3);
$alpha-black-40: rgba(0, 0, 0, 0.4);
$alpha-black-60: rgba(0, 0, 0, 0.6);
$alpha-black-80: rgba(0, 0, 0, 0.8);
